.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mainContainer {
	width: 95%;
	display: flex;
	flex-direction: row;
	padding-top: 10rem;
}


.textSectionContainer {
	width: 50%;
}

.imageSectionContainer {
	width: 50%;
}
