.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #060608;
}

.mainContainer {
	width: 95%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 10rem;
}

.imageSectionContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.HtmlCssImageContainer {
	width: 48%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	img:last-child {
		position: relative;
		top: 1rem;
		left: 18rem;
	}
}

.vectorImageContainer {
	width: 100%;

	img:first-child {
		position: relative;
		top: 5rem;
		left: 36rem;
	}

	img:nth-child(2) {
		width: 60%;
		transform: rotate(-20deg);
		position: relative;
		top: -20rem;
		left: 34rem;
	}

	img:last-child {
		position: relative;
		top: -5.3rem;
		left: -7rem;
	}
}


@media only screen and (max-width: 540px){
	.container {
		overflow-y: hidden;
	}

	.mainContainer {
		padding-top: 5rem;
	}

	.imageSectionContainer {
		padding-top: 5rem;
	}

	.HtmlCssImageContainer {
		width: 90%;
		justify-content: space-between;

		img {
			width: 15%;
		}

		img:last-child {
			left: 0rem;
		}
	}

	.vectorImageContainer {
		padding-top: 8rem;
		max-height: 40rem;

		img {
			width: 70%;
		}

		img:first-child {
			top: -7rem;
			left: 6rem;
		}

		img:nth-child(2) {
			width: 80%;
			left: 5rem;
		}

		img:last-child {
			width: 22%;
			top: -19rem;
			left: 12rem;
		}
	}
}
