.sectionContainer {
	width: 100%;

	footer {
		width: 100%;
		height: 5rem;
		background-color: #23BE53;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0 0 1.6rem 1.6rem;
	}
}


.contentContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #060608;
	border-radius: 1.6rem 1.6rem 0 0;
	padding-bottom: 2rem;
	height: 450px;

	text-decoration: none;
	color: #E7DFDD;

	h2 {
		width: 90%;
		padding: 2rem 0 0 0;
		text-align: center;
		word-break: break-word;
	}

	img {
		width: 90%;
	}
}

.headerContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	padding: 0 1rem;

	p {
		text-align: start;
		font-size: 8rem;
	}

	p:first-child {
		color: #FFD700;
	}
	p:nth-child(2) {
		color: #FF6347;
	}
	p:last-child {
		color: #23BE53;
	}
}

.text{
	width: 100%;
	font-size: 2rem;
	padding: 2rem;
	direction: ltr;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;

}
