.container {
	width: 100%;
	background-color: #333333;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;

	h1 {
		width: 82%;
		font-size: 4rem;
	}

	img {
		width: 90%;
	}
}

.mainContainer {
	width: 100%;
	display: grid;
	grid-template-columns: 40rem 40rem 40rem;
	column-gap: 8rem;
	row-gap: 8rem;
	justify-content: center;
	background-image: url("../../../assets/vector.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.sectionContainer {
	width: 100%;

	footer {
		width: 100%;
		height: 5rem;
		background-color: #23BE53;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0 0 1.6rem 1.6rem;
	}
}


.contentContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	background-color: #060608;
	border-radius: 1.6rem 1.6rem 0 0;

}

.headerContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	padding: 0 1rem;

	p {
		text-align: start;
		font-size: 8rem;
	}

	p:first-child {
		color: #FFD700;
	}
	p:nth-child(2) {
		color: #FF6347;
	}
	p:last-child {
		color: #23BE53;
	}
}

.text{
	font-size: 2rem;
	padding: 2rem;
}
