.container {
	width: 100%;
	background-color: #333333;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5rem;

	h1{
		width: 82%;
		font-size: 4rem;
	}
}

.mainContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 25rem;
}

.imageBackgroundContainer {
	position: absolute;
	z-index: 0;

	img:last-child{
		position: relative;
		top: 16rem;
		right: -8rem;
		transform: rotate(-30deg);
	}
}

.imageBackgroundContainerTwo {
	position: absolute;
	z-index: 0;
	top: 100rem;

	img:last-child{
		position: relative;
		top: 17rem;
		right: -8rem;
		transform: rotate(-30deg);
	}
}

@media only screen and (max-width: 540px){
	.container {
		min-height: 100vh;
		overflow-y: hidden;
	}

	.mainContainer {
		margin-bottom: 25rem;
	}

	.imageBackgroundContainer {
		img {
			width: 60%;
			padding-left: 5rem;
		}
	}

	.imageBackgroundContainerTwo{
		img {
			width: 60%;
			padding-left: 5rem;
		}
	}
}
